<footer class="footer">
    <div class="pagination footer__pagination">
        <div data-current class="pagination__current"></div>
        <div data-total class="pagination__total"></div>
    </div>
    <ul class="social footer__social">
        <li class="social__link"><a href="#">vk</a></li>
        <li class="social__link"><a href="#">fb</a></li>
        <li class="social__link"><a href="#">inst</a></li>
    </ul>
    <div class="footer__scroll-btn">
        <a data-paginate href="#" class="arrow-btn"></a>
        <span data-footer-title class="footer__title">Направления и классы</span>
    </div>
</footer>