<header class="header">
    <div class="header__nav-btn">
        <a data-nav-open class="nav-btn">
        <span class="nav-btn__bars">
            <span class="nav-btn__bar"></span>
            <span class="nav-btn__bar"></span>
            <span class="nav-btn__bar nav-btn__bar--bottom"></span>
        </span>
            <span class="nav-btn__label">Меню</span>
        </a>
    </div>
    <div class="header__logo">
        <img src="img/logo.png" alt="Центр йоги Lotos">
    </div>
    <div data-header-title class="header__title">Добро пожаловать</div>
    <div class="header__phone">
        +7 (812) 345-56-97
    </div>
    <nav class="nav">
        <ul class="nav__links">
            <li class="nav__link"><a href="#">Главная</a></li>
            <li class="nav__link"><a href="#classes">Направления</a></li>
            <li class="nav__link"><a href="#trainers">Преподаватели</a></li>
            <li class="nav__link"><a href="#subscription">Абонементы</a></li>
            <li class="nav__link"><a href="#schedule">Расписание</a></li>
            <li class="nav__link"><a href="#reviews">Отзывы</a></li>
            <li class="nav__link"><a href="#contacts">Контакты</a></li>
        </ul>
        <button data-nav-close class="nav__close"></button>
    </nav>
</header>