{% extends "layout.njk" %}

{% block title %}
    {{ super() }}
{% endblock %}

{% block content %}
    <section data-page-title="Добро пожаловать" class="section hero">
        <div class="section__content">
            <h1 class="hero__title">
                <span>Центр йоги</span>Lotos
            </h1>
            <div class="hero__cta">
                <a data-modal data-modal-title="Запишитесь на бесплатное занятие!" class="hero__btn"></a>
                <p class="section-text">Приглашаем вас и ваших друзей на бесплатное пробное занятие
                </p>
            </div>
        </div>
    </section>

    <section data-page-title="Направления и классы" id="classes" class="section classes">
        <div class="section__content">
            <div class="classes__controls">
                <ul data-label="Yoga —" class="slider-nav">
                    <li class="slider-nav__item">Для начинающих</li>
                    <li class="slider-nav__item">Аштанга Виньяса</li>
                    <li class="slider-nav__item">Универсальная</li>
                    <li class="slider-nav__item">Кундалини</li>
                    <li class="slider-nav__item">Айенгара</li>
                    <li class="slider-nav__item">Терапия</li>
                </ul>
                <div class="classes__btns">
                    <a class="arrow-btn arrow-btn--prev"></a>
                    <a class="arrow-btn arrow-btn--next"></a>
                </div>
            </div>
            <div class="classes__slider">
                <div class="classes__list">
                    <div class="classes__item">
                        <h2 class="classes__title">Yoga —</h2>
                        <h3 class="classes__subtitle">Для начинающих</h3>
                        <div class="classes__text">
                            <p class="section-text">
                                Йога для начинающих рассчитана на тех, кто до этого никогда ей не занимался и&nbsp;требует
                                обучения. Такой программный комплекс существует и в нашем центре.
                            </p>
                            <p class="section-text">
                                Мы предлагаем посетить бесплатное вводное занятие, чтобы узнать, почему так много
                                людей
                                занимаются
                                йогой и&nbsp;придерживаются здорового образа
                            </p>
                        </div>
                    </div>
                    <div class="classes__item">
                        <h2 class="classes__title">Yoga —</h2>
                        <h3 class="classes__subtitle">Аштанга Виньяса</h3>
                        <div class="classes__text">
                            <p class="section-text">
                                Йога для начинающих рассчитана на тех, кто до этого никогда ей не занимался и&nbsp;требует
                                обучения. Такой программный комплекс существует и в нашем центре.
                            </p>
                            <p class="section-text">
                                Мы предлагаем посетить бесплатное вводное занятие, чтобы узнать, почему так много
                                людей
                                занимаются
                                йогой и&nbsp;придерживаются здорового образа
                            </p>
                        </div>
                    </div>
                    <div class="classes__item">
                        <h2 class="classes__title">Yoga —</h2>
                        <h3 class="classes__subtitle">Универсальная</h3>
                        <div class="classes__text">
                            <p class="section-text">
                                Йога для начинающих рассчитана на тех, кто до этого никогда ей не занимался и&nbsp;требует
                                обучения. Такой программный комплекс существует и в нашем центре.
                            </p>
                            <p class="section-text">
                                Мы предлагаем посетить бесплатное вводное занятие, чтобы узнать, почему так много
                                людей
                                занимаются
                                йогой и&nbsp;придерживаются здорового образа
                            </p>
                        </div>
                    </div>
                    <div class="classes__item">
                        <h2 class="classes__title">Yoga —</h2>
                        <h3 class="classes__subtitle">Кундалини</h3>
                        <div class="classes__text">
                            <p class="section-text">
                                Йога для начинающих рассчитана на тех, кто до этого никогда ей не занимался и&nbsp;требует
                                обучения. Такой программный комплекс существует и в нашем центре.
                            </p>
                            <p class="section-text">
                                Мы предлагаем посетить бесплатное вводное занятие, чтобы узнать, почему так много
                                людей
                                занимаются
                                йогой и&nbsp;придерживаются здорового образа
                            </p>
                        </div>
                    </div>
                    <div class="classes__item">
                        <h2 class="classes__title">Yoga —</h2>
                        <h3 class="classes__subtitle">Айенгара</h3>
                        <div class="classes__text">
                            <p class="section-text">
                                Йога для начинающих рассчитана на тех, кто до этого никогда ей не занимался и&nbsp;требует
                                обучения. Такой программный комплекс существует и в нашем центре.
                            </p>
                            <p class="section-text">
                                Мы предлагаем посетить бесплатное вводное занятие, чтобы узнать, почему так много
                                людей
                                занимаются
                                йогой и&nbsp;придерживаются здорового образа
                            </p>
                        </div>
                    </div>
                    <div class="classes__item">
                        <h2 class="classes__title">Yoga —</h2>
                        <h3 class="classes__subtitle">Терапия</h3>
                        <div class="classes__text">
                            <p class="section-text">
                                Йога для начинающих рассчитана на тех, кто до этого никогда ей не занимался и&nbsp;требует
                                обучения. Такой программный комплекс существует и в нашем центре.
                            </p>
                            <p class="section-text">
                                Мы предлагаем посетить бесплатное вводное занятие, чтобы узнать, почему так много
                                людей
                                занимаются
                                йогой и&nbsp;придерживаются здорового образа
                            </p>
                        </div>
                    </div>
                </div>
                <a data-modal data-modal-title="Выберите направление:" data-select="classes" class="section-btn">
                    Записаться онлайн
                </a>
            </div>
        </div>
    </section>

    <section data-page-title="Пробное занятие" id="form-1" class="section request">
        <div class="section__content">
            <h2 class="request__title"><span>10%</span> скидка на&nbsp;абонемент</h2>
            <div class="request__text">
                <p class="section-text">Мы сделаем для вас 10% скидку на&nbsp;абонемент, купленный в день посещения
                    вводного
                    занятия.</p>
            </div>
            <form class="form request__form">
                <div class="form__group">
                    <input class="form__input" type="text" name="name" data-pristine-required
                           data-pristine-required-message="Обязательное поле" data-pristine-name>
                    <label class="form__label">Ваше имя <sup>*</sup></label>
                </div>
                <div class="form__group">
                    <input class="form__input" type="text" name="phone" data-pristine-required
                           data-pristine-required-message="Обязательное поле" data-pristine-phone>
                    <label class="form__label">Ваш телефон <sup>*</sup></label>
                    <span class="form__footnote">В формате: +71112223344 или 81112223344</span>
                </div>
                <button type="submit" class="section-btn section-btn--submit">
                    Отправить заявку
                </button>
            </form>
            <p class="request__footnote">Нажимая «Отправить заявку», вы даете <a href="#">согласие</a> на&nbsp;обработку
                своих персональных данных</p>
        </div>
    </section>

    <section data-page-title="Преподаватели" id="trainers" class="section trainers">
        <div class="section__content">
            <div class="trainers__sidebar">
                <div class="trainers__controls">
                    <ul data-label="Trainer —" class="slider-nav">
                        <li class="slider-nav__item">Максим Казаков</li>
                        <li class="slider-nav__item">Юлия Зырянова</li>
                        <li class="slider-nav__item">Настя Антипова</li>
                        <li class="slider-nav__item">Ольга Ветрова</li>
                        <li class="slider-nav__item">Катя Стреженова</li>
                        <li class="slider-nav__item">Мария Жукова</li>
                    </ul>
                    <div class="trainers__btns">
                        <a class="arrow-btn arrow-btn--prev"></a>
                        <a class="arrow-btn arrow-btn--next"></a>
                    </div>
                </div>
                <div class="trainers__gallery">
                    <div class="trainers__images">
                        <img src="img/content/trainers/maksim.png" alt="Максим Казаков">
                        <img src="img/content/trainers/julia.png" alt="Юлия Зырянова">
                        <img src="img/content/trainers/nastya.png" alt="Настя Антипова">
                        <img src="img/content/trainers/olga.png" alt="Ольга Ветрова">
                        <img src="img/content/trainers/katya.png" alt="Катя Стреженова">
                        <img src="img/content/trainers/maria.png" alt="Мария Жукова">
                    </div>
                </div>
            </div>
            <div class="trainers__slider">
                <div class="trainers__list">
                    <div class="trainer">
                        <h3 class="trainer__title">Максим Казаков</h3>
                        <h4 class="trainer__subtitle">Преподаватель йоги с 1997 года</h4>
                        <p class="section-text">Занимается йогой Айенгара с 1990 года. Является преподавателем йоги
                            Айенгара с 1997 года. Имеет международный сертификат Junior I. Проводит семинары,
                            занятия
                            разных уровней сложностей.</p>
                        <div class="trainer__text">
                            <p class="section-text">
                                В йогу привел интерес. Является одним из самых опытных преподавателей и опорой нашего
                                центра. Все студенты любят Максима за отзывчивость
                                и индивидуальный подход к каждому.
                            </p>
                        </div>
                    </div>
                    <div class="trainer">
                        <h3 class="trainer__title">Юлия Зырянова</h3>
                        <h4 class="trainer__subtitle">Преподаватель йоги с 1997 года</h4>

                        <p class="section-text">Занимается йогой Айенгара с 1990 года. Является преподавателем йоги
                            Айенгара с 1997 года. Имеет международный сертификат Junior I. Проводит семинары,
                            занятия
                            разных уровней сложностей.</p>
                        <div class="trainer__text">
                            <p class="section-text">
                                В йогу привел интерес. Является одним из самых опытных преподавателей и опорой нашего
                                центра. Все студенты любят Максима за отзывчивость
                                и индивидуальный подход к каждому.
                            </p>
                        </div>
                    </div>
                    <div class="trainer">
                        <div class="trainer__info">
                            <h3 class="trainer__title">Настя Антипова</h3>
                            <h4 class="trainer__subtitle">Преподаватель йоги с 1997 года</h4>
                            <p class="section-text">Занимается йогой Айенгара с 1990 года. Является преподавателем йоги
                                Айенгара с 1997 года. Имеет международный сертификат Junior I. Проводит семинары,
                                занятия
                                разных уровней сложностей.</p>
                            <div class="trainer__text">
                                <p class="section-text">
                                    В йогу привел интерес. Является одним из самых опытных преподавателей и опорой
                                    нашего
                                    центра. Все студенты любят Максима за отзывчивость
                                    и индивидуальный подход к каждому.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="trainer">
                        <div class="trainer__info">
                            <h3 class="trainer__title">Ольга Ветрова</h3>
                            <h4 class="trainer__subtitle">Преподаватель йоги с 1997 года</h4>
                            <p class="section-text">Занимается йогой Айенгара с 1990 года. Является преподавателем йоги
                                Айенгара с 1997 года. Имеет международный сертификат Junior I. Проводит семинары,
                                занятия
                                разных уровней сложностей.</p>
                            <div class="trainer__text">
                                <p class="section-text">
                                    В йогу привел интерес. Является одним из самых опытных преподавателей и опорой
                                    нашего
                                    центра. Все студенты любят Максима за отзывчивость
                                    и индивидуальный подход к каждому.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="trainer">
                        <div class="trainer__info">
                            <h3 class="trainer__title">Катя Стреженова</h3>
                            <h4 class="trainer__subtitle">Преподаватель йоги с 1997 года</h4>
                            <p class="section-text">Занимается йогой Айенгара с 1990 года. Является преподавателем йоги
                                Айенгара с 1997 года. Имеет международный сертификат Junior I. Проводит семинары,
                                занятия
                                разных уровней сложностей.</p>
                            <div class="trainer__text">
                                <p class="section-text">
                                    В йогу привел интерес. Является одним из самых опытных преподавателей и опорой
                                    нашего
                                    центра. Все студенты любят Максима за отзывчивость
                                    и индивидуальный подход к каждому.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="trainer">
                        <div class="trainer__info">
                            <h3 class="trainer__title">Мария Жукова</h3>
                            <h4 class="trainer__subtitle">Преподаватель йоги с 1997 года</h4>
                            <p class="section-text">Занимается йогой Айенгара с 1990 года. Является преподавателем йоги
                                Айенгара с 1997 года. Имеет международный сертификат Junior I. Проводит семинары,
                                занятия
                                разных уровней сложностей.</p>
                            <div class="trainer__text">
                                <p class="section-text">
                                    В йогу привел интерес. Является одним из самых опытных преподавателей и опорой
                                    нашего
                                    центра. Все студенты любят Максима за отзывчивость
                                    и индивидуальный подход к каждому.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <a data-modal data-modal-title="Выберите тренера:" data-select="trainers" class="section-btn">
                    Записаться к тренеру
                </a>
            </div>
        </div>
    </section>

    <section data-page-title="Абонементы" id="subscription" class="section subscription">
        <div class="section__content">
            <div class="subscription__items">
                <div class="subscription__item">
                    <div class="subscription__info">
                        <h2 class="subscription__name">Разовое занятие</h2>
                        <p class="subscription__price">
                            <span>300</span> руб.
                        </p>
                    </div>
                    <a class="subscription__btn"></a>
                </div>
                <div class="subscription__item">
                    <div class="subscription__info">
                        <h2 class="subscription__name">Месяц занятий</h2>
                        <p class="subscription__price">
                            <span>2000</span> руб.
                        </p>
                    </div>
                    <a class="subscription__btn"></a>
                </div>
                <div class="subscription__item">
                    <div class="subscription__info">
                        <h2 class="subscription__name">2 месяца занятий</h2>
                        <p class="subscription__price">
                            <span>3 500</span> руб.
                        </p>
                    </div>
                    <a class="subscription__btn"></a>
                </div>
                <div class="subscription__item">
                    <div class="subscription__info">
                        <h2 class="subscription__name">3 месяца занятий</h2>
                        <p class="subscription__price">
                            <span>4 500</span> руб.
                        </p>
                    </div>
                    <a class="subscription__btn"></a>
                </div>
                <div class="subscription__item">
                    <div class="subscription__info">
                        <h2 class="subscription__name">Пол года занятий</h2>
                        <p class="subscription__price">
                            <span>8 000</span> руб.
                        </p>
                    </div>
                    <a class="subscription__btn"></a>
                </div>
                <div class="subscription__item">
                    <div class="subscription__info">
                        <h2 class="subscription__name">Год занятий</h2>
                        <p class="subscription__price">
                            <span>14 000</span> руб.
                        </p>
                    </div>
                    <a class="subscription__btn"></a>
                </div>
            </div>
            <a data-modal data-modal-title="Выберите абонемент:" data-select="subscriptions"
               class="section-btn section-btn--check">
                Заказать абонемент
            </a>
        </div>
    </section>

    <section data-page-title="Расписание" id="schedule" class="section schedule">
        <div class="section__content">
            <table class="schedule__table">
                <tr>
                    <th>
                        <a href="#" class="schedule__download">
                            Скачать<br>расписание
                        </a>
                    </th>
                    <th>08:00 − 09:25</th>
                    <th>09:30 − 10:55</th>
                    <th>11:00 − 12:25</th>
                    <th>13:30 − 14:55</th>
                    <th>15:00 − 16:25</th>
                    <th>17:00 − 18:25</th>
                </tr>
                <tr>
                    <td>Понедельник</td>
                    <td>Йога для начинающих</td>
                    <td>Универсальная йога</td>
                    <td>Йога Айенгара</td>
                    <td>Аштанга Виньяса йога</td>
                    <td>Йогатерапия</td>
                    <td>Кундалини йога</td>
                </tr>
                <tr>
                    <td>Вторник</td>
                    <td>Кундалини йога</td>
                    <td>Йогатерапия</td>
                    <td>Аштанга Виньяса йога</td>
                    <td>Йога Айенгара</td>
                    <td>Универсальная йога</td>
                    <td>Йога для начинающих</td>
                </tr>
                <tr>
                    <td>Среда</td>
                    <td>Универсальная йога</td>
                    <td>Йога для начинающих</td>
                    <td>Аштанга Виньяса йога</td>
                    <td>Йога Айенгара</td>
                    <td>Кундалини йога</td>
                    <td>Йогатерапия</td>
                </tr>
                <tr>
                    <td>Четверг</td>
                    <td>Йога для начинающих</td>
                    <td>Универсальная йога</td>
                    <td>Йога Айенгара</td>
                    <td>Аштанга Виньяса йога</td>
                    <td>Йогатерапия</td>
                    <td>Кундалини йога</td>
                </tr>
                <tr>
                    <td>Пятница</td>
                    <td>Кундалини йога</td>
                    <td>Йогатерапия</td>
                    <td>Аштанга Виньяса йога</td>
                    <td>Йога Айенгара</td>
                    <td>Универсальная йога</td>
                    <td>Йога для начинающих</td>
                </tr>
                <tr>
                    <td>Суббота</td>
                    <td>Универсальная йога</td>
                    <td>Йога для начинающих</td>
                    <td>Аштанга Виньяса йога</td>
                    <td>Йога Айенгара</td>
                    <td>Кундалини йога</td>
                    <td>Йогатерапия</td>
                </tr>
                <tr>
                    <td>Воскресенье</td>
                    <td>Йога для начинающих</td>
                    <td>Универсальная йога</td>
                    <td>Йога Айенгара</td>
                    <td>Аштанга Виньяса йога</td>
                    <td>Йогатерапия</td>
                    <td>Кундалини йога</td>
                </tr>
            </table>
        </div>
    </section>

    <section data-page-title="Отзывы" id="reviews" class="section reviews">
        <div class="section__content">
            <div class="reviews__controls">
                <ul data-label="Client —" class="slider-nav">
                    <li class="slider-nav__item">Жанна Блиц</li>
                    <li class="slider-nav__item">Арина Наумова</li>
                    <li class="slider-nav__item">Виталий Коробко</li>
                    <li class="slider-nav__item">Елена Снежная</li>
                    <li class="slider-nav__item">Юлиана Ветрова</li>
                </ul>
                <div class="reviews__btns">
                    <a class="arrow-btn arrow-btn--prev"></a>
                    <a class="arrow-btn arrow-btn--next"></a>
                </div>
            </div>
            <div class="reviews__slider">
                <div class="reviews__list">
                    <div class="reviewer">
                        <div class="reviewer__inner">
                            <img class="reviewer__img" src="img/content/reviewers/04.jpeg" alt="Жанна Блиц">
                            <div class="reviewer__info">
                                <h3 class="reviewer__name">Жанна Блиц</h3>
                                <span class="reviewer__age">34 года</span>
                            </div>
                            <div data-expand class="reviewer__text">
                                <p class="section-text">
                                    Не знаю, как остальные, но после занятий йогой хочется начать новую здоровую жизнь,
                                    хочется поесть овощей и фруктов и&nbsp;поднять свой иммунитет. Теперь для меня день
                                    занятий йогой — это день здоровья.
                                </p>
                                <p class="section-text">
                                    После упорных занятий я стала меньше болеть, и поняла, в чем
                                    смысл всех упражнений. Позы получаются элегантно, и не больно только тогда,
                                    когда не прилагаешь усилия, а остаёшься расслабленным на протяжении всего
                                    урока.
                                </p>
                            </div>
                            <a href="#" data-expand-toggler class="reviewer__expand">
                                Читать полностью
                            </a>
                        </div>
                    </div>
                    <div class="reviewer">
                        <div class="reviewer__inner">
                            <img class="reviewer__img" src="img/content/reviewers/01.jpg" alt="Арина Наумова">
                            <div class="reviewer__info">
                                <h3 class="reviewer__name">Арина Наумова</h3>
                                <span class="reviewer__age">34 года</span>
                            </div>
                            <div data-expand class="reviewer__text">
                                <p class="section-text">
                                    Не знаю, как остальные, но после занятий йогой хочется начать новую здоровую жизнь,
                                    хочется поесть овощей и фруктов и&nbsp;поднять свой иммунитет. Теперь для меня день
                                    занятий йогой — это день здоровья.
                                </p>
                                <p class="section-text">
                                    После упорных занятий я стала меньше болеть, и поняла, в чем
                                    смысл всех упражнений. Позы получаются элегантно, и не больно только тогда,
                                    когда не прилагаешь усилия, а остаёшься расслабленным на протяжении всего
                                    урока.
                                </p>
                            </div>
                            <a href="#" data-expand-toggler class="reviewer__expand">
                                Читать полностью
                            </a>
                        </div>
                    </div>
                    <div class="reviewer">
                        <div class="reviewer__inner">
                            <img class="reviewer__img" src="img/content/reviewers/02.jpeg" alt="Виталий Коробко">
                            <div class="reviewer__info">
                                <h3 class="reviewer__name">Виталий Коробко</h3>
                                <span class="reviewer__age">34 года</span>
                            </div>
                            <div data-expand class="reviewer__text">
                                <p class="section-text">
                                    Не знаю, как остальные, но после занятий йогой хочется начать новую здоровую жизнь,
                                    хочется поесть овощей и фруктов и&nbsp;поднять свой иммунитет. Теперь для меня день
                                    занятий йогой — это день здоровья.
                                </p>
                                <p class="section-text">
                                    После упорных занятий я стала меньше болеть, и поняла, в чем
                                    смысл всех упражнений. Позы получаются элегантно, и не больно только тогда,
                                    когда не прилагаешь усилия, а остаёшься расслабленным на протяжении всего
                                    урока.
                                </p>
                            </div>
                            <a href="#" data-expand-toggler class="reviewer__expand">
                                Читать полностью
                            </a>
                        </div>
                    </div>
                    <div class="reviewer">
                        <div class="reviewer__inner">
                            <img class="reviewer__img" src="img/content/reviewers/03.jpeg" alt="Елена Снежная">
                            <div class="reviewer__info">
                                <h3 class="reviewer__name">Елена Снежная</h3>
                                <span class="reviewer__age">34 года</span>
                            </div>
                            <div data-expand class="reviewer__text">
                                <p class="section-text">
                                    Не знаю, как остальные, но после занятий йогой хочется начать новую здоровую жизнь,
                                    хочется поесть овощей и фруктов и&nbsp;поднять свой иммунитет. Теперь для меня день
                                    занятий йогой — это день здоровья.
                                </p>
                                <p class="section-text">
                                    После упорных занятий я стала меньше болеть, и поняла, в чем
                                    смысл всех упражнений. Позы получаются элегантно, и не больно только тогда,
                                    когда не прилагаешь усилия, а остаёшься расслабленным на протяжении всего
                                    урока.
                                </p>
                            </div>
                            <a href="#" data-expand-toggler class="reviewer__expand">
                                Читать полностью
                            </a>
                        </div>
                    </div>
                    <div class="reviewer">
                        <div class="reviewer__inner">
                            <img class="reviewer__img" src="img/content/reviewers/05.jpeg" alt="Юлиана Ветрова">
                            <div class="reviewer__info">
                                <h3 class="reviewer__name">Юлиана Ветрова</h3>
                                <span class="reviewer__age">34 года</span>
                            </div>
                            <div data-expand class="reviewer__text">
                                <p class="section-text">
                                    Не знаю, как остальные, но после занятий йогой хочется начать новую здоровую жизнь,
                                    хочется поесть овощей и фруктов и&nbsp;поднять свой иммунитет. Теперь для меня день
                                    занятий йогой — это день здоровья.
                                </p>
                                <p class="section-text">
                                    После упорных занятий я стала меньше болеть, и поняла, в чем
                                    смысл всех упражнений. Позы получаются элегантно, и не больно только тогда,
                                    когда не прилагаешь усилия, а остаёшься расслабленным на протяжении всего
                                    урока.
                                </p>
                            </div>
                            <a href="#" data-expand-toggler class="reviewer__expand">
                                Читать полностью
                            </a>
                        </div>
                    </div>
                </div>
                <a data-modal class="section-btn">
                    Попробовать тоже
                </a>
            </div>
        </div>
    </section>

    <section data-page-title="Пробное занятие" id="form-2" class="section request request--background">
        <div class="section__content">
            <h2 class="request__title"><span>10%</span> скидка на&nbsp;абонемент</h2>
            <div class="request__text">
                <p class="section-text">
                    Хотите скидку на абонемент?
                    <br>Приведите с собой друзей и получите -10% за каждого пришедшего
                </p>
            </div>
            <form class="form request__form">
                <div class="form__group">
                    <input class="form__input" type="text" name="name" data-pristine-required
                           data-pristine-required-message="Обязательное поле" data-pristine-name>
                    <label class="form__label">Ваше имя <sup>*</sup></label>
                </div>
                <div class="form__group">
                    <input class="form__input" type="text" name="phone" data-pristine-required
                           data-pristine-required-message="Обязательное поле" data-pristine-phone>
                    <label class="form__label">Ваш телефон <sup>*</sup></label>
                    <span class="form__footnote">В формате: +71112223344 или 81112223344</span>
                </div>
                <button type="submit" class="section-btn section-btn--submit">
                    Отправить заявку
                </button>
            </form>
            <p class="request__footnote">Нажимая «Отправить заявку», вы даете <a href="#">согласие</a> на&nbsp;обработку
                своих персональных данных</p>
        </div>
    </section>

    <section data-page-title="Контакты" id="contacts" class="section contacts">
        <div class="section__content">
            <div class="contacts__map"></div>
            <div class="contacts__info">
                <ul class="contacts__items">
                    <li>
                        <span>Адрес:</span>
                        СПб, Невский проспект 108
                    </li>
                    <li>
                        <span>Email:</span>
                        Lotos-yoga@gmail.com
                    </li>
                </ul>
                <div class="contacts__links">
                    <a class="contacts__link" href="#">Смотреть на карте</a>
                    <a class="contacts__link contacts__link--envelope" href="#">Оставить отзыв</a>
                </div>
                <div class="contacts__copyright">
                    &copy; 2018 — ООО “Центр йоги Лотос”
                </div>
                <a data-modal class="section-btn">
                    Записаться онлайн
                </a>
            </div>
        </div>
    </section>
{% endblock %}

{% block modal %}
    <div class="modal" id="modal">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__inner">
                <button class="modal__close" data-micromodal-close></button>
                <div class="modal__content">
                    <h3 class="modal__title">
                        Занимайтесь йогой! Запишитесь на занятие!
                    </h3>
                    <form class="form modal__form">
                        <div class="form__group">
                            <input class="form__input" type="text" name="name" data-pristine-required
                                   data-pristine-required-message="Обязательное поле" data-pristine-name>
                            <label class="form__label">Ваше имя <sup>*</sup></label>
                        </div>
                        <div class="form__group">
                            <input class="form__input" type="text" name="phone" data-pristine-required
                                   data-pristine-required-message="Обязательное поле" data-pristine-phone>
                            <label class="form__label">Ваш телефон <sup>*</sup></label>
                            <span class="form__footnote">В формате: +71112223344 или 81112223344</span>
                        </div>
                        <button type="submit" class="section-btn section-btn--submit">
                            Отправить заявку
                        </button>
                    </form>
                    <p class="modal__footnote">
                        Нажимая «Отправить заявку», вы даете <a href="#">согласие</a> на&nbsp;обработку
                        своих персональных данных
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}