@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Bold.woff2') format('woff2'),
    url('../fonts/Geometria-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-ExtraLight.woff2') format('woff2'),
    url('../fonts/Geometria-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}


@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Light.woff2') format('woff2'),
    url('../fonts/Geometria-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria.woff2') format('woff2'),
    url('../fonts/Geometria.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Medium.woff2') format('woff2'),
    url('../fonts/Geometria-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat-v14-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/montserrat-v14-latin_cyrillic-regular.woff') format('woff');
}

